/* טעינת פונטים מותאמים */
@font-face {
  font-family: Rowdies;
  /* גופן לכותרות */
  font-style: normal;
  src: url(../Fonts/Rowdies.ttf);
}

@font-face {
  font-family: Heebo;
  /* גופן לטקסט רגיל */
  font-style: normal;
  src: url(../Fonts/Heebo.ttf);
}

/* איפוס ברירת מחדל לכל האלמנטים */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* צבע רקע כללי */
body {
  background-color: rgb(205, 231, 250);
}

/* קונטיינר ראשי – מרכז התוכן עם הצללה */
.container {
  border-color: black;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  background-color: aliceblue;
}

.container p {
  font-size: 1.5em;
  font-family: 'heebo';
  margin: 25px;
}

/* סיידבר (אם קיים) */
aside {
  padding-top: 50px;
  text-align: center;
  font-size: 1.5em;
  font-family: 'heebo';
  margin: 25px;
}

/* עיצוב כפתורים כלליים */
.btn {
  font-family: 'Heebo';
  background-color: #0077cc;
  color: white;
  border: none;
  font-size: 0.7em;
  padding: 0.5em 1em;
  border-radius: 5px;
  cursor: pointer;
}

/* #region header */
/* כותרת ראשית */
h1 {
  font-family: 'Rowdies';
  color: rgb(69, 116, 209);
  font-size: 3.3em;
  margin-block: 30px;
}

/* מיכל לכותרת – מרכז אותה */
.header-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* #endregion */

/* #region main */
/* מונה אנשי קשר */
.counter {
  font-family: 'Heebo';
  font-size: 1.2em;
  margin: 10px;
}

/* מיכל פעולות (חיפוש, הוספה, מחיקה) */
.action-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

/* מיון לפי קבוצה */
#groupSort {
  position: relative;
  font-family: 'Heebo';
  font-size: 1.1em;
  border-radius: 5px;
}

.groupSortDiv {
  transform: translateX(-150%);
}

.action-container label {
  font-family: 'Heebo';
  font-size: 1.2em;

}

/* אזור החיפוש */
.search-wrapper {
  position: relative;
  flex: 1;
  max-width: 300px;
}

#searchBar {
  width: 100%;
  font-size: 1.2em;
  padding: 10px 35px 10px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  box-sizing: border-box;
}

/* אייקון זכוכית מגדלת בשדה החיפוש */
.search-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 1.2em;
  color: #888;
}

/* אזור איקונים (הוספה ומחיקה) */
.action-icons {
  display: flex;
  gap: 10px;
  margin-left: 10px;
}

.action-icons img {
  height: 40px;
  cursor: pointer;
}

/* רשימת אנשי קשר */
.phoneBook {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
}

/* כרטיס איש קשר */
.customer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
}

/* תמונת איש קשר */
.custIMG {
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 125px;
  margin: 5px;
  border-radius: 50%;
}

/* שם איש קשר */
.custName {
  font-family: 'Heebo';
  margin-left: 15px;
  font-size: 1.5em;
  flex-grow: 1;
  font-weight: 550;
}

/* מיכל כפתורי פעולה */
.custActions {
  display: flex;
  gap: 10px;
}

.custActions img {
  cursor: pointer;
}

/* איקונים למידע/עריכה/מחיקה */
.infoCust,
.editCust,
.deleteCust,
.favoriteCust {
  height: 40px;
  margin-inline: 5px;
  cursor: pointer;
}

/* #endregion */

/* #region footer */
/* פוטר */
footer>span {
  color: black;
  font-family: 'Heebo';
}

footer {
  color: white;
  text-align: center;
  padding: 1em;
}

/* #endregion */

/* #region popup */
/* חלון פופאפ */
/* שכבת הרקע */
.modal {
  display: none;
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  /* ממרכז את הפופאפ */
  align-items: center;
  justify-content: center;

  /* במקרה של תוכן ארוך */
  overflow-y: auto;
}

/* מיכל הפופאפ */
.modal-popup {
  background: white;
  padding: 2em;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;

  /* אם התוכן גדול מדי */
  max-height: 90vh;
  overflow-y: auto;
}

/* תוכן הפופאפ */
.modal-popup {
  background: white;
  margin: 10% auto;
  padding: 2em;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
  position: relative;
}

/* כפתור סגירה */
.modal .close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 1.2em;
  cursor: pointer;
}

/* תוכן המידע */
.modalContent {
  font-family: 'Heebo';
  margin-left: 15px;
  font-size: 1.5em;
  flex-grow: 1;
}

/* עיצוב שדות טופס */
.modalContent input {
  width: 95%;
  font-size: 0.9em;
  padding: 10px 35px 10px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}

/* מבנה טופס */
.formElem {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 50%;
}

/* מיכל טופס */
.formContainer {
  display: flex;
  flex-wrap: wrap;
  border-color: black;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  background-color: aliceblue;
  justify-content: center;
}

/* שדה טקסט להערות */
#editNotes {
  width: 95%;
  height: 100px;
  font-size: 0.9em;
  padding: 10px 35px 10px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}

/* כפתורי טופס */
.formBtn {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

/* #endregion */

/* #region Contact/About Pages and Navigation Links */
/* קישורי ניווט */
nav {
  margin-top: 10px;
  text-align: center;
}

nav a {
  font-family: 'Heebo';
  font-size: 1em;
  margin: 0 10px;
  text-decoration: none;
  color: #0077cc;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

/* #endregion */

/* #region Media */
/* התאמות למסכים קטנים (סמארטפונים) */
@media (max-width: 599px) {
  .counter {
    font-size: 1.4em;
    margin: 10px;
    text-align: center;
  }

  .container {
    padding: 2px;
  }

  #searchBar {
    width: 80%;
    font-size: 1.0em;
  }

  .search-icon {
    right: 70px;
    transform: translateY(-56%);
  }

  .action-icons img {
    height: 30px;
  }

  .phoneBook {
    gap: 0.5em;
  }

  .customer {
    padding: 10px 5px;
  }

  .custName {
    font-size: 0.9em;
  }

  .custIMG {
    height: 80px;
    width: 80px;
    margin: 5px;
    border-radius: 50%;
  }

  .infoCust,
  .editCust,
  .deleteCust,
  .favoriteCust {
    height: 20px;
    margin-inline: 1px;
  }

  .groupSortDiv {
    transform: translateX(0%);
  }
}

/* התאמות לטאבלטים אנכיים */
@media (min-width: 600px) and (max-width: 899px) {
  .counter {
    font-size: 1.4em;
    margin: 10px;
    text-align: center;
  }

  .container {
    padding: 2px;
  }

  #searchBar {
    width: 100%;
    font-size: 1.3em;
  }

  .search-icon {
    right: 10px;
    transform: translateY(-56%);
  }

  .action-icons img {
    width: 40px;
    height: 40px;
  }

  .phoneBook {
    gap: 0.5em;
  }

  .customer {
    padding: 10px 5px;
  }

  .custName {
    font-size: 1.5em;
  }

  .infoCust,
  .editCust,
  .deleteCust,
  .favoriteCust {
    height: 40px;
    margin-inline: 5px;
  }

  .groupSortDiv {
    transform: translateX(0%);
  }
}

/* התאמות לטאבלטים לרוחב */
@media (min-width: 900px) and (max-width: 1199px) {
  .counter {
    font-size: 1.4em;
    margin: 10px;
    text-align: center;
  }

  .container {
    padding: 2px;
  }

  #searchBar {
    width: 120%;
    font-size: 1.5em;
  }

  .search-icon {
    right: -50px;
    transform: translateY(-56%);
  }

  .action-icons img {
    width: 50px;
    height: 50px;
  }

  .phoneBook {
    gap: 1.5em;
  }

  .customer {
    padding: 10px 5px;
  }

  .custName {
    font-size: 2em;
  }

  .custIMG {
    height: 150px;
    width: 150px;
  }

  .infoCust,
  .editCust,
  .deleteCust,
  .favoriteCust {
    height: 40px;
    margin-inline: 5px;
  }

  .groupSortDiv {
    transform: translateX(0%);
  }
}

/* #endregion */

/* #region Effect css*/
/* מצב אפקט ויזואלי – רקע אנימטיבי צבעוני */
body.effect-on {
  background: linear-gradient(-45deg, #ff0000, #f2ff00, #00ffc3, #0d00ff);
  background-size: 400% 400%;
  animation: glowingBackground 5s ease infinite;
  transition: all 0.5s ease;
}

/* אנימציה לשינוי צבעים */
@keyframes glowingBackground {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* הכפתור שמפעיל את האפקט לא יושפע */
.toggleEffect {
  position: relative;
  z-index: 2100;
  height: 40px;
  cursor: pointer;
}

/* #endregion */